<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="VoiceIn alpha registration page.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>VoiceIn 試用者邀請函</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="VoiceIn-alpha">

    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.teal-red.min.css">


    <style>
            /**
        * Copyright 2015 Google Inc. All Rights Reserved.
        *
        * Licensed under the Apache License, Version 2.0 (the "License");
        * you may not use this file except in compliance with the License.
        * You may obtain a copy of the License at
        *
        *      http://www.apache.org/licenses/LICENSE-2.0
        *
        * Unless required by applicable law or agreed to in writing, software
        * distributed under the License is distributed on an "AS IS" BASIS,
        * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
        * See the License for the specific language governing permissions and
        * limitations under the License.
        */

        .demo-ribbon {
          width: 100%;
          height: 40vh;
          background-color: #3F51B5;
          background: url('/dist/public/images/qrcode/blurred-web-backgrounds.jpg') center / cover;
padding: 50px;
          flex-shrink: 0;
        }

        .demo-main {
          margin-top: -35vh;
          flex-shrink: 0;
        }

        .demo-header .mdl-layout__header-row {
          padding-left: 40px;
        }

        .demo-container {
          max-width: 1600px;
          width: calc(100% - 16px);
          margin: 0 auto;
        }

        .demo-content {
          border-radius: 2px;
          padding: 80px 56px;
          margin-bottom: 80px;
        }

        .demo-layout.is-small-screen .demo-content {
          padding: 40px 28px;
        }

        .demo-content h3 {
          margin-top: 48px;
        }

        .demo-footer {
          padding-left: 40px;
        }

        .demo-footer .mdl-mini-footer--link-list a {
          font-size: 13px;
        }
    </style>
  </head>
  <body>
    <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
      <header class="demo-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">VoiceIn 試用者邀請函</span>
          <div class="mdl-layout-spacer"></div>
        </div>
      </header>
      <div class="demo-ribbon"></div>
      <main class="demo-main mdl-layout__content">
        <div class="demo-container mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
          <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
            <div class="demo-crumbs mdl-color-text--grey-500">
              <i class="material-icons md-24" style="vertical-align: bottom;">home</i><a href="/">首頁</a> &gt VoiceIn 試用者邀請函申請
            </div>
              <h3>VoiceIn 是什麼?</h3>
              <p>
                VoiceIn 是一個個人免付費電話提供的應用，有別於現有 080 免付費服務電話需要較為複雜的申請手續，VoiceIn 讓服務提供者只要幾個步驟，就可以提供您的免費聯絡方式給您的客戶，並且綁定手機，
                但不會透露您的個人號碼給對方知道，為了讓您們的客戶更容易建立免費服務電話，我們在您的名片上放上 QR Code，客戶只需要有 QR Code 掃瞄器(Line 內建的即可)，
                即可掃瞄建立免費通話的捷徑，因此客戶不需要安裝本 App 也可以於手機桌面建立擁有您的大頭貼的聯絡捷徑。
                <br/>
                除此之外，VoiceIn App 還提供以下功能:
                <ul>
                  <li>電子名片 - 手機即是您的名片，你可以用社群軟體、信箱 ...等分享您的 QR Code 名片</li>
                  <li>通話時間管理 - 針對每位客戶您可以設定你方便通話的時段。</li>
                  <li>勿擾模式 - 針對某位聯絡人開啟勿擾模式，對方則無法撥打給您。</li>
                  <li>聯絡人分組 - 分類您的客戶更容易管理。</li>
                  <li>常用聯絡人 - 將您最常用的聯絡人收納到一個頁面。</li>
                  <li>通話紀錄與來電通知 - 不丟失任何一通重要電話。</li>
                </ul>
              </p>
              <p>
                VoiceIn 讓您可以讓客戶免費撥打給您，提升客戶與您聯繫的慾望與關係。
              </p>

              <a name="price"></a>
              <h3>收費方式</h3>
              <p>
                目前本 App 處於測試階段，我們<strong>贈送 50 分鐘(3000 秒)的通話時數</strong>予每個 App 測試者做體驗。
                <br/>
                在 App 內，秒數將以點數表示，即 3000 秒表示 3000 點。
                <br/>
              </p>

              <h3>如何下載本 App?</h3>
                由於 VoiceIn App 尚未正式上架至 Apple App Store 與 Google Play Store，為了讓上架後的 App 更加穩定，
                我們將先進行的為小規模測試，使用 Google 與 Apple(Testflight) 官方的測試平台，希望您成為測試計畫的一員，
                若您使用的是
                <ul>
                  <li>iOS 系統，我們需要取得您的 App Store 的帳號</li>
                  <li>Android 系統，我們需要取得您綁定 Google Play Store 的 Google 帳號</li>
                </ul>
                我們誠摯邀請您成為我們測試計畫的一員，請填寫以下表單
                <br/><br/>
                <a href="http://goo.gl/forms/a82sClK5Vp7a6ylk2" target="_blank">測試者申請表單</a>
                <br/><br/>
                我們將於<strong>兩日內</strong>將測試邀請寄送給您所填寫的信箱(也就是您的帳號)
                <br/><br/>
                若您有任何問題，或對於本 App 的批評與指教，
                可以於右下角的回饋表單填寫意見給我們 <i class="material-icons md-24" style="vertical-align: bottom;">sentiment_satisfied</i>
                <br/>
                <strong>在測試階段結束後，我們將寄送一份問卷給我們的受測者，將於填寫者中抽出一定名額，贈予禮物喔!</strong>
              <a name="faq"></a>
              <h3>常見問題</h3>
              <li>
                <ol>
                  Q: 為什麼撥電話時，會有一通 02 - 開頭電話打給自己?<br/>
                  A: 這是我們系統的電話，請放心接聽，我們會撥打兩通電話給您與對方，並將兩通電話介接起來，以達到通話功能，我們建議將該電話加入您的通訊錄
                  這樣有人打給您時，就知道是 VoiceIn 的聯絡人打來的。
                </ol>
              </li>

              <br/>
              <br/>
              <p style="text-align: right;">
                 Sincerely, <br/>
                 VoiceIn
              </p>
              <div class="demo-crumbs mdl-color-text--grey-500">
                <i class="material-icons md-24" style="vertical-align: bottom;">home</i><a href="/">首頁</a> &gt VoiceIn 試用者邀請函申請
              </div>
          </div>
        </div>
        <footer class="demo-footer mdl-mini-footer">
          <div class="mdl-mini-footer--left-section">
            <a href="#">VoiceIn</a> powered by <a href="https://getmdl.io">mdl</a>
          </div>
        </footer>
      </main>
    </div>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <script>
    Userback = window.Userback || {};

    (function(id) {
        if (document.getElementById(id)) {return;}
        var s = document.createElement('script');
        s.id = id;
        s.src = 'https://app.userback.io/widget.js';
        var parent_node = document.head || document.body;
        parent_node.appendChild(s);
    })('userback-sdk');

    Userback.access_token = '43|52|eW8DGCVEw01J4x7HfxHcTzSicoYncTvrPE5vh0aO0by4JFMYdu';
</script>
  </body>
</html>
