<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>VoiceIn</title>
  <!-- Wide card with share menu button -->
  <style>
  .demo-card-wide.mdl-card {
    width: 512px;
    margin: 0 auto;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('images/qrcode/blurred-web-backgrounds.jpg') center / cover;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
  .demo-layout-transparent {
    background: #E0E0E0;
  }
  .demo-layout-transparent .mdl-layout__header,
  .demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
    your background is light. */
    color: #757575;
  }
  </style>
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">

  <!-- Material Design icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

  <div class="demo-layout-transparent mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--transparent">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">VoiceIn 名片</span>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">VoiceIn 名片</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">VoiceIn 首頁</a>
        <a class="mdl-navigation__link" href="">聯絡我們</a>
        <a class="mdl-navigation__link" href="">常見問題</a>
        <a class="mdl-navigation__link" href="">關於 VoiceIn</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text"><%= name %> 的 VoiceIn 名片</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <h4>關於</h4>
          <p>
            <%= profile %>
          </p>
          <h4>公司</h4>
          <p>
            <%= company %>
          </p>
          <h4>來自</h4>
          <p>
            <%= location %>
          </p>
          <p>
            如果確認資訊無誤，即可點選確認加入按鈕加入對方!
          </p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            確認加入
          </a>
        </div>
        <div class="mdl-card__menu">
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">share</i>
          </button>
        </div>
      </div>
    </main>
  </div>

  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
</body>
</html>
